In [1]:
#Pandas Lib useful for data processing and analysis

#Pandas Data Frame
#Data Frame is a 2D data structure with labelled axes(rows and columns)

In [2]:
import sklearn
print(sklearn.__version__)

1.6.1

In [3]:
#importing Pandas Library
import pandas as pd

In [29]:
from sklearn.datasets import fetch_california_housing
import pandas as pd
# import data from fetch_california_housing into housing_data
housing = fetch_california_housing()
print(type(housing)) #pandas help to display data in a more structured way

calliDf = pd.DataFrame(housing.data, columns=housing.feature_names)

print(calliDf.head()) #display first 5 rows of the data

print(calliDf.shape) #display the shape of the data

<class 'sklearn.utils._bunch.Bunch'>
   MedInc  HouseAge  AveRooms  AveBedrms  Population  AveOccup  Latitude  \
0  8.3252      41.0  6.984127   1.023810       322.0  2.555556     37.88
1  8.3014      21.0  6.238137   0.971880      2401.0  2.109842     37.86
2  7.2574      52.0  8.288136   1.073446       496.0  2.802260     37.85
3  5.6431      52.0  5.817352   1.073059       558.0  2.547945     37.85
4  3.8462      52.0  6.281853   1.081081       565.0  2.181467     37.85

   Longitude
0    -122.23
1    -122.22
2    -122.24
3    -122.25
4    -122.25
(20640, 8)

In [5]:
#Importing data from a CSV file
customers = pd.read_csv('../dataset/customers.csv') 

customers.head() #display first 5 rows of the data
customers.shape

(50, 21)

In [6]:
#Exporting data to a CSV file
calliDf.to_csv('../dataset/California Housing Details.csv') #index=False to avoid saving the index column

In [7]:

#Exporting data to an Excel file
calliDf.to_excel('../dataset/California Housing Details.xlsx')

In [8]:
#Statistical summary of the data -> .describe()
customers.describe()
#count or number of values in each coulms
customers.count()

CustomerID          50
Gender              50
SeniorCitizen       50
Partner             50
Dependents          50
Tenure              50
PhoneService        50
MultipleLines       50
InternetService     50
OnlineSecurity      50
OnlineBackup        50
DeviceProtection    50
TechSupport         50
StreamingTV         50
StreamingMovies     50
Contract            50
PaperlessBilling    50
PaymentMethod       50
MonthlyCharges      50
TotalCharges        50
Churn               50
dtype: int64

In [9]:
#Creating Dataframe with randome values

import numpy as np

random_data = pd.DataFrame(np.random.rand(20,5), columns=['A','B','C','D','E'])
random_data.head()

          A         B         C         D         E
0  0.328558  0.571858  0.092097  0.316704  0.802012
1  0.557559  0.881762  0.764545  0.522939  0.975213
2  0.637353  0.850578  0.939239  0.704983  0.505359
3  0.055535  0.143875  0.144465  0.508617  0.315604
4  0.247405  0.073704  0.218512  0.962883  0.635125

In [10]:
#Inspecting a Dataframe

#finding no of rows & columns -> .shape
calliDf.shape

#first 5 rows -> .head()
calliDf.head()

#last 5 rows -> .tail()
calliDf.tail()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24

In [11]:
#certains info about datframe -> .info()
customers.info() #non-null values means no missing values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CustomerID        50 non-null     object
 1   Gender            50 non-null     object
 2   SeniorCitizen     50 non-null     int64
 3   Partner           50 non-null     object
 4   Dependents        50 non-null     object
 5   Tenure            50 non-null     int64
 6   PhoneService      50 non-null     object
 7   MultipleLines     50 non-null     object
 8   InternetService   50 non-null     object
 9   OnlineSecurity    50 non-null     object
 10  OnlineBackup      50 non-null     object
 11  DeviceProtection  50 non-null     object
 12  TechSupport       50 non-null     object
 13  StreamingTV       50 non-null     object
 14  StreamingMovies   50 non-null     object
 15  Contract          50 non-null     object
 16  PaperlessBilling  50 non-null     object
 17  PaymentMethod     50 non-null     object
 18  MonthlyCharges    50 non-null     float64
 19  TotalCharges      50 non-null     float64
 20  Churn             50 non-null     object
dtypes: float64(2), int64(2), object(17)
memory usage: 8.3+ KB

In [12]:
#Find no of missing values in each column -> .isnull().sum()
customers.isnull().sum()

CustomerID          0
Gender              0
SeniorCitizen       0
Partner             0
Dependents          0
Tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [13]:
#count number of specific values in a column based on  label-> .value_counts()
customers.value_counts('Churn')

Churn
No     38
Yes    12
Name: count, dtype: int64

In [14]:
#How to group data based on label -> .groupby().mean()
calliDf.groupby('HouseAge').mean()

,MedInc,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
HouseAge,,,,,,,
1.0,4.003400,9.088091,1.552106,328.500000,3.244088,36.205000,-119.457500
2.0,5.167766,7.649087,1.273514,2083.051724,2.747802,35.494483,-119.121379
3.0,5.460258,6.851805,1.192486,3001.774194,2.734708,35.284516,-118.936452
4.0,5.180673,6.112610,1.116190,2813.162304,2.786138,34.966963,-118.814293
5.0,4.697636,5.963211,1.128014,2471.381148,3.279108,35.234262,-118.918033
6.0,4.383393,5.832246,1.105839,2165.637500,2.886158,35.233125,-118.994313
7.0,4.464457,6.236576,1.145118,2613.080000,2.936948,35.544286,-119.111486
8.0,4.459338,6.280481,1.175100,2018.354369,3.360742,35.743835,-119.320243
9.0,4.316425,6.014117,1.144547,1886.975610,2.899606,35.683366,-119.305415
10.0,4.050508,6.047608,1.195510,1712.924242,2.852738,35.914621,-119.400492
11.0,3.932593,6.288396,1.245155,1989.905512,2.932461,35.896063,-119.484803
12.0,3.988412,5.766874,1.122970,2129.613445,2.902287,35.731891,-119.346261
13.0,4.150874,6.225630,1.199163,1776.347682,2.875146,35.817417,-119.380762
14.0,4.115541,6.101843,1.175591,1857.140777,2.871762,35.975267,-119.548981
15.0,4.062305,5.942703,1.142600,1622.308594,2.824927,35.900430,-119.497109
16.0,4.293998,6.004060,1.131531,1483.556420,2.916834,35.732257,-119.557588
17.0,3.935827,5.879533,1.168132,1605.848138,2.819008,35.965043,-119.630645
18.0,3.977344,5.708517,1.124104,1608.664912,2.895784,35.944965,-119.672000
19.0,3.760389,5.632239,1.138902,1619.286853,2.860078,35.826892,-119.528127
20.0,3.778618,5.466440,1.112190,1545.584946,2.863815,36.143140,-119.891828
21.0,3.852120,5.536552,1.110378,1657.793722,2.876149,35.779641,-119.629036
22.0,3.922650,5.661284,1.130028,1736.686717,2.950788,35.824912,-119.663033
23.0,3.949525,5.584120,1.113509,1554.285714,2.935799,35.732299,-119.625000
24.0,3.911442,5.404322,1.090811,1610.000000,2.910523,35.410502,-119.348766
25.0,4.119936,5.542334,1.102046,1539.491166,2.876420,35.503728,-119.436696
26.0,4.076914,5.547365,1.072149,1437.591276,3.051294,35.506672,-119.494330
27.0,3.853651,5.345399,1.101355,1412.657787,2.893323,35.620307,-119.629488
28.0,3.752313,5.213263,1.086258,1443.577495,2.967666,35.555669,-119.549512
29.0,3.580305,5.215443,1.088691,1454.225597,2.991591,35.503362,-119.448243
30.0,3.587635,5.086314,1.082066,1413.836134,3.049689,35.446513,-119.458571
31.0,3.607926,4.962658,1.059985,1390.796943,3.035894,35.370197,-119.405087
32.0,3.778895,5.174086,1.060452,1364.886726,3.087233,35.475044,-119.453912
33.0,3.832625,5.443103,1.101136,1304.369106,3.112717,35.385740,-119.377935
34.0,3.984903,5.463408,1.099826,1233.134978,3.049085,35.164470,-119.200334
35.0,3.913107,5.201818,1.039142,1204.427184,3.147272,35.170728,-119.255316
36.0,3.935958,5.252212,1.042671,1093.349188,3.786374,35.172459,-119.273179
37.0,3.747540,5.099511,1.054990,1080.089385,3.035523,35.338454,-119.444115
38.0,3.446261,4.991169,1.065688,1100.913706,3.036302,35.350482,-119.363173
39.0,3.437686,4.872036,1.053098,1160.252033,3.008323,35.514824,-119.632005
40.0,3.456350,4.891881,1.053887,1094.674342,2.982353,35.440493,-119.557993
41.0,3.170057,4.713015,1.053664,1040.043919,3.100736,35.344966,-119.429291
42.0,3.431315,4.764322,1.043766,1134.913043,3.056921,35.346005,-119.480543
43.0,3.211136,4.759272,1.049097,1064.963173,2.950987,35.556176,-119.668102
44.0,3.503119,5.057172,1.067361,1031.109551,2.889532,35.326910,-119.516180
45.0,3.665441,4.976640,1.037650,1035.323129,7.111575,35.494252,-119.669932
46.0,3.398138,4.902913,1.046044,1051.808163,4.849529,35.652939,-119.811551
47.0,3.290915,4.916969,1.062047,1060.015152,2.936009,35.777576,-119.927576
48.0,3.473160,5.085865,1.067385,970.926554,2.782648,35.715254,-119.816667
49.0,3.550495,4.966750,1.043057,989.194030,2.721458,36.015075,-120.275672
50.0,3.444289,4.942963,1.072900,998.977941,2.777761,35.987279,-120.123603
51.0,3.423648,4.890285,1.045443,941.312500,2.548105,36.359167,-120.489167
52.0,3.889047,5.100120,1.066982,934.271013,2.840404,36.605161,-120.885915

In [15]:
#mean value - column wise
calliDf.mean()

MedInc           3.870671
HouseAge        28.639486
AveRooms         5.429000
AveBedrms        1.096675
Population    1425.476744
AveOccup         3.070655
Latitude        35.631861
Longitude     -119.569704
dtype: float64

In [16]:
#Statistical summary of the data -> .describe()
customers.describe()

       SeniorCitizen    Tenure  MonthlyCharges  TotalCharges
count      50.000000  50.00000        50.00000     50.000000
mean        0.500000  24.50000        58.25000   1702.750000
std         0.505076  14.57738        21.86607   1391.864981
min         0.000000   0.00000        21.50000      0.000000
25%         0.000000  12.25000        39.87500    470.375000
50%         0.500000  24.50000        58.25000   1390.750000
75%         1.000000  36.75000        76.62500   2761.125000
max         1.000000  49.00000        95.00000   4581.500000

In [17]:
#count or number of values in each coulms
customers.count()

CustomerID          50
Gender              50
SeniorCitizen       50
Partner             50
Dependents          50
Tenure              50
PhoneService        50
MultipleLines       50
InternetService     50
OnlineSecurity      50
OnlineBackup        50
DeviceProtection    50
TechSupport         50
StreamingTV         50
StreamingMovies     50
Contract            50
PaperlessBilling    50
PaymentMethod       50
MonthlyCharges      50
TotalCharges        50
Churn               50
dtype: int64

In [18]:
#Standard Deviation - column wise
calliDf.std()

MedInc           1.899822
HouseAge        12.585558
AveRooms         2.474173
AveBedrms        0.473911
Population    1132.462122
AveOccup        10.386050
Latitude         2.135952
Longitude        2.003532
dtype: float64

In [19]:
#Max value - column wise
calliDf.max()

MedInc           15.000100
HouseAge         52.000000
AveRooms        141.909091
AveBedrms        34.066667
Population    35682.000000
AveOccup       1243.333333
Latitude         41.950000
Longitude      -114.310000
dtype: float64

In [20]:
#Min value - column wise
calliDf.min()

MedInc          0.499900
HouseAge        1.000000
AveRooms        0.846154
AveBedrms       0.333333
Population      3.000000
AveOccup        0.692308
Latitude       32.540000
Longitude    -124.350000
dtype: float64

In [21]:
#Manipulating DataFrame

#Adding a new column

#adding target values in calliDf
price = housing.target
print(price)

calliDf['Price'] = price
calliDf.head()

[4.526 3.585 3.521 ... 0.923 0.847 0.894]

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,Price
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [22]:
#remove a row
calliDf.drop(index=0 , axis= 0 ) #remove first row #for row axis =0 for coulmn axis =1

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,Price
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422
5,4.0368,52.0,4.761658,1.103627,413.0,2.139896,37.85,-122.25,2.697
...,...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09,0.781
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21,0.771
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22,0.923
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32,0.847
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24,0.894

In [23]:
#remove a column
calliDf.drop(columns='Population' , axis=1) #remove Price column

,MedInc,HouseAge,AveRooms,AveBedrms,AveOccup,Latitude,Longitude,Price
0,8.3252,41.0,6.984127,1.023810,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,2.181467,37.85,-122.25,3.422
...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,2.560606,39.48,-121.09,0.781
20636,2.5568,18.0,6.114035,1.315789,3.122807,39.49,-121.21,0.771
20637,1.7000,17.0,5.205543,1.120092,2.325635,39.43,-121.22,0.923
20638,1.8672,18.0,5.329513,1.171920,2.123209,39.43,-121.32,0.847
20639,2.3886,16.0,5.254717,1.162264,2.616981,39.37,-121.24,0.894

In [24]:
#locate/print particular row
customers.iloc[3]

CustomerID                CUST0004
Gender                      Female
SeniorCitizen                    1
Partner                         No
Dependents                     Yes
Tenure                           4
PhoneService                    No
MultipleLines                  Yes
InternetService                DSL
OnlineSecurity                 Yes
OnlineBackup                    No
DeviceProtection               Yes
TechSupport                     No
StreamingTV                    Yes
StreamingMovies                 No
Contract            Month-to-month
PaperlessBilling                No
PaymentMethod          Credit card
MonthlyCharges                26.0
TotalCharges                 104.0
Churn                          Yes
Name: 3, dtype: object

In [25]:
#locate particular column
customers['Churn']

0      No
1      No
2      No
3     Yes
4      No
5      No
6      No
7     Yes
8      No
9      No
10     No
11    Yes
12     No
13     No
14     No
15    Yes
16     No
17     No
18     No
19    Yes
20     No
21     No
22     No
23    Yes
24     No
25     No
26     No
27    Yes
28     No
29     No
30     No
31    Yes
32     No
33     No
34     No
35    Yes
36     No
37     No
38     No
39    Yes
40     No
41     No
42     No
43    Yes
44     No
45     No
46     No
47    Yes
48     No
49     No
Name: Churn, dtype: object

In [26]:
#Another way to locate particular column
print(customers.iloc[:,1]) #prints second column
print(customers.iloc[:,-1]) #prints last column

0       Male
1     Female
2       Male
3     Female
4       Male
5     Female
6       Male
7     Female
8       Male
9     Female
10      Male
11    Female
12      Male
13    Female
14      Male
15    Female
16      Male
17    Female
18      Male
19    Female
20      Male
21    Female
22      Male
23    Female
24      Male
25    Female
26      Male
27    Female
28      Male
29    Female
30      Male
31    Female
32      Male
33    Female
34      Male
35    Female
36      Male
37    Female
38      Male
39    Female
40      Male
41    Female
42      Male
43    Female
44      Male
45    Female
46      Male
47    Female
48      Male
49    Female
Name: Gender, dtype: object
0      No
1      No
2      No
3     Yes
4      No
5      No
6      No
7     Yes
8      No
9      No
10     No
11    Yes
12     No
13     No
14     No
15    Yes
16     No
17     No
18     No
19    Yes
20     No
21     No
22     No
23    Yes
24     No
25     No
26     No
27    Yes
28     No
29     No
30     No
31    Yes
32     No
33     No
34     No
35    Yes
36     No
37     No
38     No
39    Yes
40     No
41     No
42     No
43    Yes
44     No
45     No
46     No
47    Yes
48     No
49     No
Name: Churn, dtype: object

In [27]:
#Correlation - used to find relation between two variables/columns
#Positive Correlation - one value inc if other inc
#Negative Correlation - one value inc if other dec

In [28]:
calliDf.corr()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,Price
MedInc,1.000000,-0.119034,0.326895,-0.062040,0.004834,0.018766,-0.079809,-0.015176,0.688075
HouseAge,-0.119034,1.000000,-0.153277,-0.077747,-0.296244,0.013191,0.011173,-0.108197,0.105623
AveRooms,0.326895,-0.153277,1.000000,0.847621,-0.072213,-0.004852,0.106389,-0.027540,0.151948
AveBedrms,-0.062040,-0.077747,0.847621,1.000000,-0.066197,-0.006181,0.069721,0.013344,-0.046701
Population,0.004834,-0.296244,-0.072213,-0.066197,1.000000,0.069863,-0.108785,0.099773,-0.024650
AveOccup,0.018766,0.013191,-0.004852,-0.006181,0.069863,1.000000,0.002366,0.002476,-0.023737
Latitude,-0.079809,0.011173,0.106389,0.069721,-0.108785,0.002366,1.000000,-0.924664,-0.144160
Longitude,-0.015176,-0.108197,-0.027540,0.013344,0.099773,0.002476,-0.924664,1.000000,-0.045967
Price,0.688075,0.105623,0.151948,-0.046701,-0.024650,-0.023737,-0.144160,-0.045967,1.000000